[submodule "src/github.com/stretchr/testify"]
	path = src/github.com/stretchr/testify
	url = https://github.com/stretchr/testify.git
[submodule "src/github.com/codegangsta/cli"]
	path = src/github.com/codegangsta/cli
	url = git@github.com:dam5s/cli.git
