Package: cf-cli
Maintainer: CF CLI Team <cf-cli-eng@pivotal.io>
Source: cf-cli
Homepage: https://github.com/cloudfoundry/cli
Section: misc
Priority: optional
Description: Cloud Foundry command line client
