Package: cf-cli
Maintainer: Ted Young <tyoung@pivotallabs.com>
Source: cf-cli
Homepage: https://github.com/cloudfoundry/cli
Section: misc
Priority: optional
Description: Cloud Foundry command line client
Installed-Size: 10480
