name: "Code Quality"

on:
  push:
    branches: [ master, '*' ]
    paths-ignore:
    - '.github/workflows/build-windows.yml'
    - 'win/**'
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '45 5 * * *'

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
          languages: go
          config-file: ./.github/codeql/codeql-config.yml

      - name: Autobuild
        uses: github/codeql-action/autobuild@v1

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v1
