name: golangci-lint

on:
  push:
    tags:
      - "v9.*"
      - "v8.*"
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - main
      - v9
      - v8
    paths-ignore:
      - "doc/**"
      - ".gitpod.yml"
      - "README.md"
  workflow_dispatch:

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: '0'
      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v1.64
          args: -v --exclude-dirs cf --exclude-dirs fixtures --exclude-dirs plugin --exclude-dirs command/plugin
  format:
    name: Run go fmt
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: '0'
    - name: Set Up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
    - name: Run go fmt
      run: make format && git diff --exit-code
