name: "Tests: Integration"

run-name: "Integration [${{ github.event.workflow_run.head_branch }}]: ${{ github.event.workflow_run.head_commit.message }}"

on:
  workflow_dispatch:
    inputs:
      workflow:
        description: Tests to run
        required: true
        type: choice
        options:
          - run-integration-tests-cf-env
          - run-integration-tests-cf-env-with-client-creds
          - run-integration-tests-cf-env-with-min-capi
          # - run-integration-windows
          # - run-integration-windows-client-credentials
  workflow_run:
    workflows:
      - "Tests"
    types:
      - completed

jobs: 
  run-integration-tests-cf-env:
    name: Integration tests
    if: ${{ (github.event_name == 'workflow_dispatch' && inputs.workflow == 'run-integration-tests-cf-env') || github.event.workflow_run.conclusion == 'success' }}
    uses: ./.github/workflows/tests-integration-reusable.yml
    with:
      capi-version: edge
      run-with-client-creds: false
      os: ubuntu-latest
      name: Integration
      is-pr: ${{ github.event_name != 'workflow_dispatch' }}
    secrets: inherit

  run-integration-tests-cf-env-with-client-creds:
    name: client creds
    if: ${{ (github.event_name == 'workflow_dispatch' && inputs.workflow == 'run-integration-tests-cf-env-with-client-creds') || github.event.workflow_run.conclusion == 'success' }}
    uses: ./.github/workflows/tests-integration-reusable.yml
    with:
      capi-version: edge
      run-with-client-creds: true
      os: ubuntu-latest
      name: Integration client creds
      is-pr: ${{ github.event_name != 'workflow_dispatch' }}
    secrets: inherit

  run-integration-tests-cf-env-with-min-capi:
    name: MIN CAPI
    if: ${{ (github.event_name == 'workflow_dispatch' && inputs.workflow == 'run-integration-tests-cf-env-with-min-capi') || github.event.workflow_run.conclusion == 'success' }}
    uses: ./.github/workflows/tests-integration-reusable.yml
    with:
      capi-version: min
      run-with-client-creds: false
      os: ubuntu-latest
      name: Integration MIN CAPI
      pool-name: cfd_16_11_0
      pool-namespace: tas-devex
      is-pr: ${{ github.event_name != 'workflow_dispatch' }}
    secrets: inherit

  #run-integration-windows:
  #  name: Windows
  #  if: ${{ (github.event_name == 'workflow_dispatch' && inputs.workflow == 'run-integration-windows') || github.event.workflow_run.conclusion == 'success' }}
  #  uses: ./.github/workflows/tests-integration-reusable.yml
  #  with:
  #    capi-version: edge
  #    run-with-client-creds: false
  #    os: windows-latest
  #    name: Integration windows
  #  secrets: inherit

  #run-integration-windows-client-credentials:
  #  name: Windows with client credentials
  #  if: ${{ (github.event_name == 'workflow_dispatch' && inputs.workflow == 'run-integration-windows-client-credentials') || github.event.workflow_run.conclusion == 'success' }}
  #  uses: ./.github/workflows/tests-integration-reusable.yml
  #  with:
  #    capi-version: edge
  #    run-with-client-creds: true
  #    os: windows-latest
  #    name: Integration windows client credentials
  #  secrets: inherit
