name: Unit Tests

run-name: >-
  Unit Tests:
  ${{ github.event_name == 'pull_request' 
    && format('PR #{0} - {1}', github.event.pull_request.number, github.event.pull_request.title)
    || format('{0} to {1}', github.event_name, github.ref_name) 
  }}

on:
  workflow_dispatch:
  push:
    tags:
      - "v9.*"
      - "v8.*"
  pull_request:
    branches:
      - main
      - v9
      - v8
    paths-ignore:
      - "doc/**"
      - ".gitpod.yml"
      - "README.md"

permissions:
  contents: read

jobs:
  unit-tests:
    name: Unit Tests (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-22.04
          - macos-latest
          - macos-14
          - windows-latest
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: ${{ matrix.os == 'windows-latest' && 'pwsh' || 'bash' }}

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v5

    - name: Setup Go Environment
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
        cache: true

    - name: Install Windows Build Dependencies
      if: matrix.os == 'windows-latest'
      run: choco install --no-progress --limit-output -y make

    - name: Execute Unit Tests
      run: make units

# vim: set sw=2 ts=2 sts=2 et tw=78 foldlevel=2 fdm=indent nospell:
