name: "Tests"

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - v8
      - v7
    paths-ignore:
      - 'doc/**'
      - '.gitpod.yml'
      - 'README.md'

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  lint:
    name: Lint code
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Set Up Go
      uses: actions/setup-go@v4
      with:
        go-version-file: go.mod
        check-latest: true

    - name: Run go fmt
      run: go fmt && git diff --exit-code

  units:
    name: Units
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-20.04
          - macos-latest
          - macos-11
    runs-on: ${{ matrix.os }}
    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Set Up Go
      uses: actions/setup-go@v4
      with:
        go-version-file: go.mod
        check-latest: true

    - name: Set Up Test
      run: |
        go install github.com/onsi/ginkgo/ginkgo@v1.16.4
        go install github.com/onsi/gomega/matchers

    - name: Run Units
      run: make units
      env:
        ACK_GINKGO_RC: true

  units-windows:
    name: Units Windows
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - windows-2019
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: pwsh
    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Set Up Go
      uses: actions/setup-go@v4
      with:
        go-version-file: go.mod
        check-latest: true

    - name: Set up Test
      run: |
        go install github.com/onsi/ginkgo/ginkgo@v1.16.4
        go install github.com/onsi/gomega/matchers

    - name: Get build-time dependencies
      run: |
        choco install --no-progress --limit-output -y make

    - name: Run Windows Units
      env:
        ACK_GINKGO_RC: true
      run: |
        Get-Command make
        Get-Item Makefile
        make units

# vim: set sw=2 ts=2 sts=2 et tw=78 foldlevel=2 fdm=indent nospell:
