name: "Tests: Integration"

# run-name: "Integration [${{ github.event.workflow_run.head_branch }}]: ${{ github.event.workflow_run.head_commit.message }}"

on:
  workflow_dispatch:
  push:
    branches: 
      - v8
  workflow_run:
  #   workflows:
  #     - "Tests"
  #   types:
  #     - completed

jobs: 
  run-integration-tests-cf-env:
    name: Integration tests
    # if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    uses: ./.github/workflows/tests-integration-reusable.yml
    with:
      capi-version: edge
      run-with-client-creds: false
      os: ubuntu-latest
      name: Integration
    secrets: inherit

  run-integration-tests-cf-env-with-client-creds:
    name: client creds
    # if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    uses: ./.github/workflows/tests-integration-reusable.yml
    with:
      capi-version: edge
      run-with-client-creds: true
      os: ubuntu-latest
      name: Integration client creds
    secrets: inherit

  run-integration-tests-cf-env-with-min-capi:
    name: MIN CAPI
    # if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    uses: ./.github/workflows/tests-integration-reusable.yml
    with:
      capi-version: min
      run-with-client-creds: false
      os: ubuntu-latest
      name: Integration MIN CAPI
    secrets: inherit

  #run-integration-windows:
  #  name: Windows
  #  if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
  #  uses: ./.github/workflows/tests-integration-reusable.yml
  #  with:
  #    capi-version: edge
  #    run-with-client-creds: false
  #    os: windows-latest
  #    name: Integration windows
  #  secrets: inherit

  #run-integration-windows-client-credentials:
  #  name: Windows with client credentials
  #  if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
  #  uses: ./.github/workflows/tests-integration-reusable.yml
  #  with:
  #    capi-version: edge
  #    run-with-client-creds: true
  #    os: windows-latest
  #    name: Integration windows client credentials
  #  secrets: inherit
