name: "Tests"

on:
  workflow_dispatch:
  push:
    tags:
      - "v9.*"
      - "v8.*"
      - "v7.*"
  pull_request_target:
    branches:
      - main
      - v9
      - v8
      - v7
    paths-ignore:
      - "doc/**"
      - ".gitpod.yml"
      - "README.md"

#permissions:
#  contents: write

defaults:
  run:
    shell: bash

jobs:
  units:
    name: Units
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-20.04
          - macos-latest
          - macos-13
    runs-on: ${{ matrix.os }}
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Set Up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
        check-latest: true

    - name: Run Units
      run: make units

  units-windows:
    name: Units Windows
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - windows-2019
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: pwsh
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Set Up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
        check-latest: true

    - name: Get build-time dependencies
      run: |
        choco install --no-progress --limit-output -y make

    - name: Run Windows Units
      run: |
        Get-Command make
        Get-Item Makefile
        make units



  integration:
    # needs:
    #   - units
    #   - units-windows
    name: Integration tests
    if: ${{ github.event != 'workflow_dispatch' }}
    uses: ./.github/workflows/tests-integration.yml
    secrets:
      TEST_SECRET: ${{ secrets.TEST_SECRET }}
      SHEPHERD_SERVICE_ACCOUNT_TOKEN: ${{ secrets.SHEPHERD_SERVICE_ACCOUNT_TOKEN }}
      CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
  direct-integration-stuff:
    name: Direct integration stuff
    uses: ./.github/workflows/tests-integration-reusable.yml
    with:
      capi-version: edge
      run-with-client-creds: false
      os: ubuntu-latest
      name: Integration
    secrets:
      TEST_SECRET: ${{ secrets.TEST_SECRET }}
      SHEPHERD_SERVICE_ACCOUNT_TOKEN: ${{ secrets.SHEPHERD_SERVICE_ACCOUNT_TOKEN }}
      CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
# vim: set sw=2 ts=2 sts=2 et tw=78 foldlevel=2 fdm=indent nospell:
