name: "Code Quality"

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - v8
      - v7
  schedule:
    - cron: '45 5 * * *'

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    if: ${{ github.repository == 'cloudfoundry/cli' }}
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
          languages: go
          config-file: ./.github/codeql/codeql-config.yml

      - name: Autobuild
        uses: github/codeql-action/autobuild@v1

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v1

# vim: set sw=2 ts=2 sts=2 et tw=78 foldlevel=2 fdm=indent nospell:
